# Default ignored files
/../../../../../../OneDrive-Persönlich/Dokumente/Jetbrains/PyCharmProjects/ASE/.idea/shelf/
/../../../../../../OneDrive-Persönlich/Dokumente/Jetbrains/PyCharmProjects/ASE/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../OneDrive-Persönlich/Dokumente/Jetbrains/PyCharmProjects/ASE/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../../OneDrive-Persönlich/Dokumente/Jetbrains/PyCharmProjects/ASE/.idea/dataSources/
/../../../../../../OneDrive-Persönlich/Dokumente/Jetbrains/PyCharmProjects/ASE/.idea/dataSources.local.xml
